.container {
  height: 80px;
  padding: 4px 16px;
  box-sizing: border-box;
}

.headerItemsContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.logoContainer {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer:hover {
  background-color: var(--color-transparent-gray);
}

.navigationItem {
  height: 48px;
  padding: 0 16px;
  color: var(--color-text-default);
  font-size: var(--font-size-300);
  font-weight: var(--font-weight-semibold);
  border-radius: 24px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigationItem.active {
  background-color: var(--color-background-selected);
  color: var(--color-text-inverse);
}

.navigationItemCreate {
  cursor: pointer;
}

.createButtonIcon {
  margin-left: 8px;
}

.createFlyout {
  position: absolute;
  top: 72px;
  left: 100px;
  padding: 8px;
  box-sizing: border-box;
  min-width: 180px;
  border-radius: 16px;
  box-shadow: var(--elevation-floating);
}

.createFlyoutItem {
  display: block;
  font-weight: var(--font-weight-semibold);
  text-decoration: none;
  color: inherit;
  padding: 8px;
  border-radius: 8px;
}

.createFlyoutItem:hover {
  background-color: var(--color-background-secondary);
}

.searchBarContainer {
  flex-grow: 1;
  margin: 0px 8px;
  padding-left: 16px;
  background-color: var(--color-background-secondary);
  border-radius: 24px;
  height: 48px;
  display: flex;
  align-items: center;
}

.searchBarContainer.searchBarContainerActive {
  box-shadow: rgba(0, 132, 255, 0.5) 0px 0px 0px 4px;
}

.searchBarIcon {
  margin-right: 8px;
  color: var(--color-text-icon-subtle);
}

.searchBarInput {
  height: 100%;
  border: none;
  padding: 0px;
  flex-grow: 1;
  background-color: transparent;
  font-size: 16px;
}

.searchBarInput:focus {
  outline: none;
}

.accountOptionsButton {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  transition: transform 0.1s;
}

.accountOptionsButton:active {
  transform: scale(0.85);
}

.accountOptionsButton:hover {
  background-color: var(--color-background-secondary);
}
