.headerItemsContainer {
  display: flex;
  height: 80px;
  padding: 0 16px;
}

.searchBarContainer {
  flex-grow: 1;
}

.accountOptionsButtonContainer {
  width: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.accountOptionsButton {
  border-radius: 12px;
  border: none;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
}

.accountOptionsButton:hover {
  background-color: var(--color-background-secondary);
}
