.container {
  height: 80px;
  padding: 4px 16px;
  box-sizing: border-box;
}

.headerItemsContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.searchBarContainer {
  flex-grow: 1;
}

.accountOptionsButton {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  transition: transform 0.1s;
}

.accountOptionsButton:active {
  transform: scale(0.8);
}

.accountOptionsButton:hover {
  background-color: var(--color-background-secondary);
}
