.container {
  height: var(--header-height);
  padding: 4px 16px;
  box-sizing: border-box;
}

.headerItemsContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.logoContainer {
  height: 48px;
  width: 48px;
  min-width: 48px; /* otherwise the element gets squashed against 
  the first nav link on its right on small screens */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer:hover {
  background-color: var(--color-transparent-gray);
}

.navigationItem {
  height: 48px;
  padding: 0 16px;
  color: var(--color-text-default);
  font-size: var(--font-size-300);
  font-weight: var(--font-weight-semibold);
  border-radius: 24px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigationItem.navigationItemActive {
  background-color: var(--color-background-selected);
  color: var(--color-text-inverse);
}

.profileLink {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.profileLink:hover {
  background-color: var(--color-background-secondary);
}

.profileLinkBadge {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  color: var(--color-text-default);
  text-align: center;
  line-height: 24px; /* equal to height, to center text vertically */
  font-size: 10px;
  font-weight: var(--font-weight-semibold);
  background-color: var(--color-background-secondary);
}

.tooltip {
  position: absolute;
  top: 72px;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--color-gray-500);
  color: var(--color-text-inverse);
  font-size: var(--font-size-100);
  box-shadow: var(--elevation-floating);
}

.profileLinkTooltip {
  right: 20px;
}

.accountOptionsButtonTooltip {
  right: 2px;
}

.accountOptionsButton {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  transition: transform 0.1s;
}

.accountOptionsButton:active {
  transform: scale(0.85);
}

.accountOptionsButton:hover {
  background-color: var(--color-background-secondary);
}
