.container {
  height: calc(100vh - var(--header-height));
  overflow-y: hidden;
}

.content {
  transition: transform 1s ease;
}

/* Logic to display the proper fold via `transform: translateY(...)`: */

.content.contentSecondFoldActive {
  transform: translateY(calc(-1 * (100vh - var(--header-height))));
}

.content.contentThirdFoldActive {
  transform: translateY(calc(-2 * (100vh - var(--header-height))));
}

.content.contentFourthFoldActive {
  transform: translateY(calc(-3 * (100vh - var(--header-height))));
}

.content.contentFifthFoldActive {
  transform: translateY(calc(-4 * (100vh - var(--header-height))));
}

.hero {
  height: calc(100vh - var(--header-height));
}
