.container {
  height: calc(100vh - var(--header-height));
  background-color: rgb(255, 253, 146);
  display: flex;
  justify-content: flex-end;
  /* ^- so that the text on the right pushes the pictures out to the left of the screen on small-width viewports */
  align-items: center;
}

.picturesArea {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picturesContainer {
  position: relative;
  width: 540px;
  height: 610px;
}

.pictureLeftContainer {
  width: 204px;
  height: 280px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.pictureTopRightContainer {
  width: 178px;
  height: 218px;
  position: absolute;
  right: 0;
  top: 0;
}

.pictureBottomRightContainer {
  width: 164px;
  height: 258px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.pictureCenterContainer {
  width: 298px;
  height: 456px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchBarLink {
  display: inline-block;
  position: absolute;
  top: 230px;
  left: 80px;
  font-size: 24px;
  height: 100px;
  width: 316px;
  line-height: 100px;
  color: rgb(110, 15, 60);
  background-color: var(--color-white);
  border-radius: 100px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.searchBarLinkIcon {
  color: var(--color-text-default);
  margin-right: 8px;
}

.picture {
  border-radius: 50px;
}

.textArea {
  width: 50%;
  min-width: 400px;
  display: flex;
  justify-content: center;
  padding: 0 40px;
  box-sizing: border-box;
}
