.container {
  font-size: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 420px;
}

.container.containerSecondFold {
  color: var(--color-purple-dark);
}

.container.containerThirdFold {
  color: var(--color-teal);
}

.container.containerFourthFold {
  color: var(--color-red-fiery);
}

.header {
  font-size: 60px;
  font-weight: bold;
}

.paragraph {
  font-size: 24px;
  margin-top: 16px;
}

.button {
  display: inline-block;
  margin-top: 24px;
  font-size: 16px;
  height: 48px;
  width: 90px;
  line-height: 48px;
  border-radius: 48px;
  color: transparent;
  font-weight: bold;
  text-decoration: none;
}

.button.buttonSecondFold {
  color: var(--color-yellow);
}

.button.buttonThirdFold {
  color: var(--color-green-minty);
}

.button.buttonFourthFold {
  color: var(--color-pink);
}

.button.buttonSecondFold {
  background-color: var(--color-purple-dark);
}

.button.buttonThirdFold {
  background-color: var(--color-teal);
}

.button.buttonFourthFold {
  background-color: var(--color-red-fiery);
}
