.container {
  height: 100vh;
}

.main {
  height: 95vh;
  position: relative;
}

.picturesBackground {
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden; /* needed because of the `transform: translateY(-...)` applied to children elements (see below) */
}

.picturesBackgroundSecondColumn {
  transform: translateY(-160px);
}

.picturesBackgroundThirdColumn {
  transform: translateY(-240px);
}

.picturesBackgroundFourthColumn {
  transform: translateY(-40px);
}

.picturesBackgroundFifthColumn {
  transform: translateY(-240px);
}

.picturesBackgroundSixthColumn {
  transform: translateY(-80px);
}

.backgroundPicture {
  display: block;
  object-fit: cover;
  border-radius: 16px;
  margin: 16px 8px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: flex-end; /* so that the text area is pushed outside to the left of the screen on small-width viewports */
}

.textArea {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  color: var(--color-white);
  font-weight: var(--font-weight-semibold);
  font-size: 70px;
  max-width: 430px;
}

.formArea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-width: 480px;
}

.formContainer {
  flex-grow: 1;
  max-width: 480px;
  border-radius: 32px;
  background-color: var(--color-white);
}

.footer {
  height: 5vh;
}
