.container {
  height: 100vh;
  background-color: var(--color-green-minty);
  display: flex;
  justify-content: flex-start;
  /* ^- so that the text on the left pushes the pictures out to the right of the screen on small-width viewports */
  align-items: center;
}

.textArea {
  width: 50%;
  min-width: 400px;
  display: flex;
  justify-content: center;
  padding: 0 40px;
  box-sizing: border-box;
}

.picturesArea {
  flex-grow: 1;
}

.picturesContainer {
  position: relative;
  width: 700px;
  height: 74Opx;
}

.pictureTopLeftContainer {
  width: 400px;
  height: 420px;
  position: absolute;
  left: 0;
  top: 0;
}

.pictureTopRightContainer {
  width: 220px;
  height: 230px;
  position: absolute;
  right: 0;
  top: 0;
}

.pictureMiddleRightContainer {
  width: 160px;
  height: 170px;
  position: absolute;
  left: 450px;
  top: 280px;
}

.pictureBottomLeftContainer {
  width: 220px;
  height: 230px;
  position: absolute;
  left: 160px;
  top: 460px;
}

.pictureBottomRightContainer {
  width: 220px;
  height: 230px;
  position: absolute;
  left: 430px;
  bottom: 0;
}
