
.container {
  height: 100vh;
  overflow-y: hidden;
}

.content {
  transition: transform 700ms ease 0s;
}

.hero {
  height: 100vh;
}

.pictureSlider {
  height: calc(100vh - 80px);
}

.sectionSearch {
  height: 100vh;
  background-color: rgb(255, 253, 146);
  display: flex;
  align-items: center;
}

.sectionSearchPicturesContainer {
  flex-grow: 1;
}

.sectionSearchTextContainer {
  flex-grow: 1;
  font-size: 60px;
  color: var(--color-purple-dark);
}

.sectionSearchHeader {
  font-size: 6Opx;
  font-weight: bold;
}

.sectionSearchParagraph {
  font-size: 24px;
}
