
.container {
  height: 100%;
  position: relative;
}

.slider {
  height: calc(100vh - 80px - 60px);
  position: relative;
}

.headerAndStepper {
  height: 50%;
  display: flex;
  flex-direction: column;
}

.headersContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 60px;
  font-weight: var(--font-weight-semibold);
}

.topicHeadersContainer {
  margin-top: 10px;
  height: 70px;
}

/* We have to set a higher fixed height depending on small-width viewports,
because then the header text is displayed on two lines instead of one. */

@media (max-width: 640px) {
  .topicHeadersContainer {
    height: 140px;
  }
}

.headerFixedSentence {
  text-align: center;
  margin: 0;
  color: var(--color-text-default);
}

.topicHeader {
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  width: 100%;
  margin: 0;
}

.topicHeader.topicHeaderActive {
  opacity: 1;
}

.stepper {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 0;
  z-index: 1;
}

.stepperListItem {
  list-style: none;
}

.stepperButton {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  outline: none;
  border-style: none;
  padding: 0;
  margin: 6px;
  background: rgb(225, 225, 225);
}

.picturesContainer {
  height: 75%;
  width: 100%;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

.topicPicturesContainer {
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.picturesColumn {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture {
  margin: 16px 0;
  object-fit: cover;
  border-radius: 16px;
}

.footerCarretAndBlur {
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 70%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.carret {
  display: inline-block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4px; /* so that the icon appears really centered */
  margin-bottom: 16px;
  animation-name: bouncing-carret;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

@keyframes bouncing-carret {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-16px);
  }
  100% {
    transform: translateY(0);
  }
}

.carretIcon {
  color: var(--color-white);
}

.footer {
  height: 60px;
  width: 100%;
  background: rgb(255, 253, 146);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footerTextAndIcon {
  display: flex;
  justify-content: center;
  font-size: var(--font-size-300);
  color: var(--color-text-default);
  font-weight: var(--font-weight-semibold);
}

.footerIcon {
  margin-left: 4px;
}
