.container {
    width: 236px;
    padding: 0px 26px;
}

.image {
    width: 100%;
    min-height: 120px;
    border-radius: 16px;
}

.title {
    padding-top: 8px;
    font-size: var(--font-size-200);
    font-weight: var(--font-weight-semibold);
}
