.container {
  width: 100%;
  position: relative; /* because save flyout will have
  'position: absolute' */
}

.imageContainer {
  display: block; /* otherwise the container ends up being
  smaller than the image it contains, since links have
  'display: inline-block' by default. */
  position: relative; /* because overlay child will have
  'position: absolute' */
  cursor: zoom-in;
}

.image {
  display: block; /* otherwise for some reason, the container
  and the overlay end up being a few pixels taller than the image */
  width: 100%;
  min-height: 120px;
  border-radius: 16px;
  cursor: zoom-in;
}

.hoverOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-background-gray-transparent);
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  border-radius: 16px;
}

.saveButton {
  background: none;
  padding: 6px;
  margin-top: 16px;
  margin-right: 6px;
  color: var(--color-text-inverse);
}

.saveButtonText {
  font-size: var(--font-size-300);
  font-weight: var(--font-weight-semibold);
  margin-right: 6px;
}

.title {
  display: block;
  padding: 6px 0;
  font-size: var(--font-size-200);
  font-weight: var(--font-weight-semibold);
  cursor: zoom-in;
  color: inherit;
  text-decoration: none;
}

.authorDetails {
  display: flex;
  align-items: center;
  margin-top: 6px;
  color: inherit;
  text-decoration: none;
}

.authorDetails:hover {
  text-decoration: underline;
}

.authorProfilePicture {
  border-radius: 50%;
  display: block;
  margin-right: 6px;
}

.authorName {
  margin: 0;
  font-size: var(--font-size-200);
}

.saveFlyout {
  position: absolute;
  top: 60px;
  background-color: var(--color-background-primary);
  width: 140%;
  box-shadow: var(--box-shadow-elevation-floating);
  left: 50%; /* to center horizontally relative */
  transform: translateX(-50%); /* to parent (by default) */
  border-radius: var(--border-radius-container);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
}

.saveFlyout.saveFlyoutAlignedLeft {
  left: 0;
}

.saveFlyout.saveFlyoutAlignedRight {
  right: 0;
}

.saveFlyoutTitle {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: var(--font-size-200);
  font-weight: var(--font-weight-semibold);
}

.boardsLabelAndList {
  width: 100%;
}

.boardsLabel {
  font-size: var(--font-size-100);
}
