.container {
  width: 100%;
}

.imageContainer {
  display: block; /* otherwise the container ends up being
  smaller than the image it contains, since links have
  'display: inline-block' by default. */
  position: relative; /* because overlay child will have
  'position: absolute' */
}

.image {
  width: 100%;
  min-height: 120px;
  border-radius: 16px;
  cursor: zoom-in;
}

.title {
  display: block;
  padding: 6px 0;
  font-size: var(--font-size-200);
  font-weight: var(--font-weight-semibold);
  cursor: zoom-in;
  color: inherit;
  text-decoration: none;
}

.authorDetails {
  display: flex;
  align-items: center;
  margin-top: 6px;
  color: inherit;
  text-decoration: none;
}

.authorDetails:hover {
  text-decoration: underline;
}

.authorProfilePicture {
  border-radius: 50%;
  display: block;
  margin-right: 6px;
}

.authorName {
  margin: 0;
  font-size: var(--font-size-200);
}

.hoverOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-background-gray-transparent);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
