.container {
  position: absolute;
  top: 60px;
  background-color: var(--color-background-base);
  width: 140%;
  box-shadow: var(--box-shadow-elevation-floating);
  left: 50%; /* to center horizontally relative */
  transform: translateX(-50%); /* to parent (by default) */
  border-radius: var(--border-radius-container);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  z-index: 10;
}

.container.containerAlignedLeft {
  left: 0;
}

.container.containerAlignedRight {
  right: 0;
}

.title {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: var(--font-size-300);
  font-weight: var(--font-weight-semibold);
}

.boardsLabelAndList {
  width: 100%;
  padding-bottom: 20px;
}

.boardsLabel {
  font-size: var(--font-size-100);
}
