.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.backButton {
  position: absolute;
  left: 20px;
  width: 48px;
  height: 48px;
  background: none;
  border-radius: 50%;
}

.backButton:hover {
  background-color: var(--color-background-secondary);
}

.image {
  width: 500px;
}

.pinViewContainer {
  display: flex;
  border-radius: 32px;
  overflow: hidden; /* so that the border-radius affects child elements */
}

.pinInformation {
  width: 500px;
  padding: 32px;
  box-sizing: border-box;
}

.pinTitle {
  font-size: var(--font-size-500);
  font-weight: var(--font-weight-semibold);
  margin: 0;
}

.pinDescription {
  padding: 8px 0;
}

.authorDetails {
  display: flex;
  align-items: center;
}

.authorProfilePicture {
  border-radius: 50%;
  margin-right: 8px;
}

.authorName {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-200);
}
