.dropZone {
  min-height: 450px;
  min-width: 380px;
  border-radius: 32px;
  border: 2px dashed rgb(218, 218, 218);
  background-color: var(--color-background-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; /* to use position: absolute; on the .acceptedFilesInstruction child element */
  cursor: pointer;
}

.dropZoneIconAndInstruction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropZoneInstruction {
  font-size: var(--font-size-300);
}

.acceptedFilesInstruction {
  font-size: var(--font-size-200);
  position: absolute;
  bottom: 0;
}

.imagePreview {
  width: 380px;
  border-radius: 32px;
}
