:root {
  --color-red: #e60023;
  --color-red-dark: #ad081b;
  --color-gray-400: #a5a5a5;
  --color-gray-500: #767676;
  --color-white: #fff;

  --color-background-primary: var(--color-white);
  --color-background-secondary: #e9e9e9;

  --color-border-error: #c00;

  --color-text-default: #111;
  --color-text-inverse: var(--color-white);
  --color-text-error: #c00;

  --font-size-100: 12px;
  --font-size-300: 16px;
  --font-size-400: 20px;

  --font-weight-normal: 400;
  --font-weight-semibold: 600;

  --color-border-container: #cdcdcd;

  --elevation-floating: 0 0 8px rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

button {
  cursor: pointer;
  border: none;
}
